body {
    font-family: "Kiwi Maru", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    background-color: #eeeeee;
    color: #333333;
    overflow-y: scroll;
}

header {
    color: #ffffff;
    background-color: #888888;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-bottom: 30px;
}

.inner {
    max-width: 1050px;
    padding: 80px 25px 50px;
    margin: 0 auto;
}

footer {
    color: #ffffff;
    background-color: #888888;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.copyright {
    font-size: 10px;
}

/* フォント */

h1 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p.sname {
    font-size: 18px;
    font-weight: 500;
}

p.normal {
    font-size: 14px;
}

/* 入力エリア */
.add_btn {
    background-color: #333333;
    color: #ffffff;
    position: fixed;
    right: 20px;
    top: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    z-index: 20;
}

.add_btn:hover {
    color: #fdcb6e;
}

.input_wrap {
    display: none;
    padding-bottom: 40px;
}

.input_wrap h2 {
    text-align: center;
    margin: 0px auto 20px;
}

.inputarea {
    border: 1px solid #2d3436;
    border-radius: 5px;
    background-color: #ffffff;
    width: 300px;
    height: 40px;
    padding: 0 10px;
}

select.inputarea {
    appearance: auto;
}

.input_form {
    margin: 0 auto;
    width: fit-content;
}

.input_item {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.submit_btn {
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background-color: #888888;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 170px;
    height: 40px;
}

.submit_btn:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/* 表示エリア */
.display_wrap h2{
    text-align: center;
    margin: 0 auto 20px;
}

.item_wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    background-color: #888888;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 320px;
    height: 230px;
    color: #ffffff;
}

.sname {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

img.ogpImg{
    object-fit: contain;
    /* width: 280px; */
    height: 147px;
    background-image: url(../img/noimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* カード詳細 */
.details {
    display: none;
}

.details p, .details2 p {
    margin-bottom: 5px;
    font-size: 12px;
}

.details span, .details2 span{
    color: #333333;
    background-color: #eeeeee;
    padding: 5px;
    margin-right: 8px;
    display: inline-block;
    width: 57px;
    font-size: 11px;
}

.btn_wrap {
    display: flex;
    column-gap: 10px;
    margin: 10px auto 0;
    align-items: center;
}

.open_btn{
    display: block;
    width: 170px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background-color: #333333;
    color: #ffffff;
}

.edit_btn {
    display: block;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 11px;
    border: 1px solid #eeeeee;
}

.open_btn:hover, .edit_btn:hover {
    background-color: #fdcb6e;
    color: #333333;
    border: none;
}

/* 確認画面 */
.reg_wrap h2 {
    text-align: center;
    margin: 0 auto 20px;
}

.reg {
    border-radius: 10px;
    padding: 20px 30px 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #ffffff;
    width: fit-content;
    margin: 0 auto;
}

.reg span{
    color: #333333;
    background-color: #eeeeee;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
    display: inline-block;
    width: 100px;
}

.back_btn {
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #888888;
    color: #ffffff;
}

.back_btn:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/* form色選択（デフォルト値があるのでCSSの位置はここ） */
input[type="radio"] {
    display: none;
}

.pink {
    background-color: #ff7675;
}

.yellow {
    background-color: #ff9f43;
}

.green {
    background-color: #00b894;
}

.blue {
    background-color: #0984e3;
}

.purple {
    background-color: #7158e2;
}

.gray {
    background-color: #636e72;
}

.color {
    border-radius: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.colors {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

/* 編集画面 */
.edit_wrap h2 {
    text-align: center;
    margin: 0px auto 20px;
}

.db_unchecked + label span.color {
    opacity: 0.6;
}

.otherbtn_wrap {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding-top: 10px;
}

.delete_btn, .back_btn2 {
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background-color: #cccccc;
    display: block;
    padding: 10px;
    width: 75px;
    height: 40px;
}

.delete_btn:hover, .back_btn2:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/* 絞り込み機能 */
.search_wrap {
    margin: 20px auto 30px;
    display: none;
    width: fit-content;
}

.search_item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#searchname {
    margin-bottom: 15px;
}

.search_colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search_btn_wrap {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.search_btn {
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    background-color: #333333;
}

.clear_btn {
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    background-color: #cccccc;
}

.sw_btn {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto 20px;
    width: 100px;
    color: #ffffff;
    background-color: #cccccc;
}

.search_btn:hover, .clear_btn:hover, .sw_btn:hover {
    background-color: #333333;
    color: #fdcb6e;
}

/* --------------------
    for SP size 
-------------------- */
@media screen and (max-width: 768px){

    .inner {
        padding: 80px 25px 30px;
    }

    h1 {
        font-size: 21px;
    }

    form, .sw_btn {
        font-size: 14px;
    }

    .add_btn {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 12px;
    }

    .input_item {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 5px;
        padding: 5px 0;
    }

    .submit_btn {
        margin: 20px auto 10px;
    }

    .search_wrap {
        flex-direction: column;
        row-gap: 20px;
    }

    .search_btn, .clear_btn {
        height: 40px;
        width: 100px;
    }

}